/* Temas del segundo período*/

.texto{
   
    font-size: 45px;
    padding-top: 140px;
    text-align: justify;
    color: white;

    h2{text-align: center;}
}
.principal{
   display: flex;
     
}
body{
    background-image: url("fondo.jpeg");
    

}
.imgtec{

height: 300px;
width: 350px;
background-image: url("circuitelectrico.jpg");
background-repeat: no-repeat;
}

.imgtec2{


height: 300px;
width: 350px;
background-image: url(circuitoelec2.jpg);
}








