/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: white;
}
.principal{
   display: flex;
     
}
body{
    background-image: url("fondoss.jpg");
    

}